*{
    margin: 0;
}





@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: 400;
  font-variation-settings:
    "wdth" 100;
}


/* navbar section */
nav{
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.nav-ul{
    display: flex;
    gap: 40px;
    text-align: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(137, 135, 161);
    
}
.home{
    color: rgb(37, 36, 50);
    font-weight: 700;
}
.nav-li{
    list-style: none;
}

/* banner section */

.banner{
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    
}
.banner-left{
    text-align: left;
}
.banner-title{
    font-weight: 700;
    font-size: 5rem;
}

.difarent-color{
    color: rgb(233, 90, 8);
}

/* Our Plants section */
.Our-Plants{
    max-width: 1440px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
   
}

.Our-title{
    font-weight: 700;
    font-size: 3rem;
}

/* card section */

.card-sec{
    max-width: 1440px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
}
.card-box{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 80px;
}

.card-img{
    border: 2px dashed rgb(206, 203, 203);
}


.card-title{
    font-weight: 500;
    font-size: 1.30rem;
    margin: 10px;
    
}

.price{
    font-weight: 700;
    font-size: 1.30rem;
    margin: 10px;
    
}
.card-btn{
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    padding: 26px 80px 26px 80px;
    border: none;
    
}
/* Flower & Plants Lover section */

.flower-section{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    
    
}
.flower-left{}


.flower-right{
    text-align: left;
}

.flower-title{
    font-weight: 700;
    font-size: 3rem;
}
.badge-img{
    width: 286px;
    height: 286px;
    margin-left: -180px;
    margin-bottom: 420px;
}

/* three img section */
.three-img-sec{
      display: flex;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    
    
}
.img-one{
    width: 366.22px;
    height: 220px;
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;
    margin: 20px;
    
}


.img-two{
    width: 366.22px;
    height: 206px;
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;
    margin: 20px;
}
.img-right{
    width: 753px;
    height: 450.13px;
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 10px;

}


/* join section */
.join{
    max-width: 100%;
    height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 80px;
    
    

}
.join-title{
    font-weight: 700;
    font-size: 3rem;
    padding-top: 250px;
    color: white;
}
input{
    width: 655px;
    height: 50px;
}
button{
    padding: 17px 50px 17px 50px;
    background-color: rgb(233, 90, 8);
    color: white;
    border: none;
    margin-left: -5px;
}